In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df = pd.read_csv("Titanic-Dataset.csv")

# Easy

How do you load the Titanic CSV into a DataFrame?

In [ ]:
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,FareBucket
0,1,0,3,"BRAUND, MR. OWEN HARRIS",male,22.0,1,0,A/5 21171,7.2500,NaN,S,"(-0.001, 7.854]"
1,2,1,1,"CUMINGS, MRS. JOHN BRADLEY (FLORENCE BRIGGS TH...",female,38.0,1,0,PC 17599,71.2833,C85,C,"(39.688, 512.329]"
2,3,1,3,"HEIKKINEN, MISS. LAINA",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,"(7.854, 10.5]"
3,4,1,1,"FUTRELLE, MRS. JACQUES HEATH (LILY MAY PEEL)",female,35.0,1,0,113803,53.1000,C123,S,"(39.688, 512.329]"
4,5,0,3,"ALLEN, MR. WILLIAM HENRY",male,35.0,0,0,373450,8.0500,NaN,S,"(7.854, 10.5]"
...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"MONTVILA, REV. JUOZAS",male,27.0,0,0,211536,13.0000,NaN,S,"(10.5, 21.679]"
887,888,1,1,"GRAHAM, MISS. MARGARET EDITH",female,19.0,0,0,112053,30.0000,B42,S,"(21.679, 39.688]"
888,889,0,3,"JOHNSTON, MISS. CATHERINE HELEN ""CARRIE""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S,"(21.679, 39.688]"
889,890,1,1,"BEHR, MR. KARL HOWELL",male,26.0,0,0,111369,30.0000,C148,C,"(21.679, 39.688]"
890,891,0,3,"DOOLEY, MR. PATRICK",male,32.0,0,0,370376,7.7500,NaN,Q,"(-0.001, 7.854]"

How do you view the first 5 rows?

In [ ]:
df.head(5)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,FareBucket
0,1,0,3,"BRAUND, MR. OWEN HARRIS",male,22.0,1,0,A/5 21171,7.2500,NaN,S,"(-0.001, 7.854]"
1,2,1,1,"CUMINGS, MRS. JOHN BRADLEY (FLORENCE BRIGGS TH...",female,38.0,1,0,PC 17599,71.2833,C85,C,"(39.688, 512.329]"
2,3,1,3,"HEIKKINEN, MISS. LAINA",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,"(7.854, 10.5]"
3,4,1,1,"FUTRELLE, MRS. JACQUES HEATH (LILY MAY PEEL)",female,35.0,1,0,113803,53.1000,C123,S,"(39.688, 512.329]"
4,5,0,3,"ALLEN, MR. WILLIAM HENRY",male,35.0,0,0,373450,8.0500,NaN,S,"(7.854, 10.5]"

In [ ]:
df.tail(10)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,FareBucket
881,882,0,3,"MARKUN, MR. JOHANN",male,33.0,0,0,349257,7.8958,NaN,S,"(7.854, 10.5]"
882,883,0,3,"DAHLBERG, MISS. GERDA ULRIKA",female,22.0,0,0,7552,10.5167,NaN,S,"(10.5, 21.679]"
883,884,0,2,"BANFIELD, MR. FREDERICK JAMES",male,28.0,0,0,C.A./SOTON 34068,10.5000,NaN,S,"(7.854, 10.5]"
884,885,0,3,"SUTEHALL, MR. HENRY JR",male,25.0,0,0,SOTON/OQ 392076,7.0500,NaN,S,"(-0.001, 7.854]"
885,886,0,3,"RICE, MRS. WILLIAM (MARGARET NORTON)",female,39.0,0,5,382652,29.1250,NaN,Q,"(21.679, 39.688]"
886,887,0,2,"MONTVILA, REV. JUOZAS",male,27.0,0,0,211536,13.0000,NaN,S,"(10.5, 21.679]"
887,888,1,1,"GRAHAM, MISS. MARGARET EDITH",female,19.0,0,0,112053,30.0000,B42,S,"(21.679, 39.688]"
888,889,0,3,"JOHNSTON, MISS. CATHERINE HELEN ""CARRIE""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S,"(21.679, 39.688]"
889,890,1,1,"BEHR, MR. KARL HOWELL",male,26.0,0,0,111369,30.0000,C148,C,"(21.679, 39.688]"
890,891,0,3,"DOOLEY, MR. PATRICK",male,32.0,0,0,370376,7.7500,NaN,Q,"(-0.001, 7.854]"

How do you get the shape of the dataset?

In [ ]:
df.shape

(891, 13)

How do you list all column names?

In [ ]:
df.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked', 'FareBucket'],
      dtype='object')

How many rows are present in the dataset?

In [ ]:
len(df)

891

How do you check the datatype of each column?

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 13 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
 12  FareBucket   891 non-null    category
dtypes: category(1), float64(2), int64(5), object(5)
memory usage: 84.8+ KB

How many missing values does each column have?

In [ ]:
df.isna()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,FareBucket
0,False,False,False,False,False,False,False,False,False,False,True,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,True,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,True,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,False,False,False,False,False,False,False,False,False,False,True,False,False
887,False,False,False,False,False,False,False,False,False,False,False,False,False
888,False,False,False,False,False,True,False,False,False,False,True,False,False
889,False,False,False,False,False,False,False,False,False,False,False,False,False
890,False,False,False,False,False,False,False,False,False,False,True,False,False

In [ ]:
df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
FareBucket       0
dtype: int64

How do you get summary statistics for numerical columns?

In [ ]:
df.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

How do you display only the â€˜Nameâ€™ column?

In [ ]:
df["Name"]

0                                BRAUND, MR. OWEN HARRIS
1      CUMINGS, MRS. JOHN BRADLEY (FLORENCE BRIGGS TH...
2                                 HEIKKINEN, MISS. LAINA
3           FUTRELLE, MRS. JACQUES HEATH (LILY MAY PEEL)
4                               ALLEN, MR. WILLIAM HENRY
                             ...
886                                MONTVILA, REV. JUOZAS
887                         GRAHAM, MISS. MARGARET EDITH
888             JOHNSTON, MISS. CATHERINE HELEN "CARRIE"
889                                BEHR, MR. KARL HOWELL
890                                  DOOLEY, MR. PATRICK
Name: Name, Length: 891, dtype: object

How do you select first 10 values in the â€˜Ageâ€™ column?

In [ ]:
df["Age"].head(10)

0    22.0
1    38.0
2    26.0
3    35.0
4    35.0
5     NaN
6    54.0
7     2.0
8    27.0
9    14.0
Name: Age, dtype: float64

How do you filter passengers older than 50?

In [ ]:
df.loc[(df["Age"]>=50)]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,FareBucket
6,7,0,1,"MCCARTHY, MR. TIMOTHY J",male,54.0,0,0,17463,51.8625,E46,S,"(39.688, 512.329]"
11,12,1,1,"BONNELL, MISS. ELIZABETH",female,58.0,0,0,113783,26.5500,C103,S,"(21.679, 39.688]"
15,16,1,2,"HEWLETT, MRS. (MARY D KINGCOME)",female,55.0,0,0,248706,16.0000,NaN,S,"(10.5, 21.679]"
33,34,0,2,"WHEADON, MR. EDWARD H",male,66.0,0,0,C.A. 24579,10.5000,NaN,S,"(7.854, 10.5]"
54,55,0,1,"OSTBY, MR. ENGELHART CORNELIUS",male,65.0,0,1,113509,61.9792,B30,C,"(39.688, 512.329]"
...,...,...,...,...,...,...,...,...,...,...,...,...,...
820,821,1,1,"HAYS, MRS. CHARLES MELVILLE (CLARA JENNINGS GR...",female,52.0,1,1,12749,93.5000,B69,S,"(39.688, 512.329]"
829,830,1,1,"STONE, MRS. GEORGE NELSON (MARTHA EVELYN)",female,62.0,0,0,113572,80.0000,B28,NaN,"(39.688, 512.329]"
851,852,0,3,"SVENSSON, MR. JOHAN",male,74.0,0,0,347060,7.7750,NaN,S,"(-0.001, 7.854]"
857,858,1,1,"DALY, MR. PETER DENIS",male,51.0,0,0,113055,26.5500,E17,S,"(21.679, 39.688]"
879,880,1,1,"POTTER, MRS. THOMAS JR (LILY ALEXENIA WILSON)",female,56.0,0,1,11767,83.1583,C50,C,"(39.688, 512.329]"

How do you filter passengers who survived?

In [ ]:
df.loc[(df["Survived"]==1)]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,FareBucket
1,2,1,1,"CUMINGS, MRS. JOHN BRADLEY (FLORENCE BRIGGS TH...",female,38.0,1,0,PC 17599,71.2833,C85,C,"(39.688, 512.329]"
2,3,1,3,"HEIKKINEN, MISS. LAINA",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,"(7.854, 10.5]"
3,4,1,1,"FUTRELLE, MRS. JACQUES HEATH (LILY MAY PEEL)",female,35.0,1,0,113803,53.1000,C123,S,"(39.688, 512.329]"
8,9,1,3,"JOHNSON, MRS. OSCAR W (ELISABETH VILHELMINA BERG)",female,27.0,0,2,347742,11.1333,NaN,S,"(10.5, 21.679]"
9,10,1,2,"NASSER, MRS. NICHOLAS (ADELE ACHEM)",female,14.0,1,0,237736,30.0708,NaN,C,"(21.679, 39.688]"
...,...,...,...,...,...,...,...,...,...,...,...,...,...
875,876,1,3,"NAJIB, MISS. ADELE KIAMIE ""JANE""",female,15.0,0,0,2667,7.2250,NaN,C,"(-0.001, 7.854]"
879,880,1,1,"POTTER, MRS. THOMAS JR (LILY ALEXENIA WILSON)",female,56.0,0,1,11767,83.1583,C50,C,"(39.688, 512.329]"
880,881,1,2,"SHELLEY, MRS. WILLIAM (IMANITA PARRISH HALL)",female,25.0,0,1,230433,26.0000,NaN,S,"(21.679, 39.688]"
887,888,1,1,"GRAHAM, MISS. MARGARET EDITH",female,19.0,0,0,112053,30.0000,B42,S,"(21.679, 39.688]"
889,890,1,1,"BEHR, MR. KARL HOWELL",male,26.0,0,0,111369,30.0000,C148,C,"(21.679, 39.688]"

How do you select all rows where Sex == "female"?

In [ ]:
df.loc[(df["Sex"]=="female")]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,FareBucket
1,2,1,1,"CUMINGS, MRS. JOHN BRADLEY (FLORENCE BRIGGS TH...",female,38.0,1,0,PC 17599,71.2833,C85,C,"(39.688, 512.329]"
2,3,1,3,"HEIKKINEN, MISS. LAINA",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,"(7.854, 10.5]"
3,4,1,1,"FUTRELLE, MRS. JACQUES HEATH (LILY MAY PEEL)",female,35.0,1,0,113803,53.1000,C123,S,"(39.688, 512.329]"
8,9,1,3,"JOHNSON, MRS. OSCAR W (ELISABETH VILHELMINA BERG)",female,27.0,0,2,347742,11.1333,NaN,S,"(10.5, 21.679]"
9,10,1,2,"NASSER, MRS. NICHOLAS (ADELE ACHEM)",female,14.0,1,0,237736,30.0708,NaN,C,"(21.679, 39.688]"
...,...,...,...,...,...,...,...,...,...,...,...,...,...
880,881,1,2,"SHELLEY, MRS. WILLIAM (IMANITA PARRISH HALL)",female,25.0,0,1,230433,26.0000,NaN,S,"(21.679, 39.688]"
882,883,0,3,"DAHLBERG, MISS. GERDA ULRIKA",female,22.0,0,0,7552,10.5167,NaN,S,"(10.5, 21.679]"
885,886,0,3,"RICE, MRS. WILLIAM (MARGARET NORTON)",female,39.0,0,5,382652,29.1250,NaN,Q,"(21.679, 39.688]"
887,888,1,1,"GRAHAM, MISS. MARGARET EDITH",female,19.0,0,0,112053,30.0000,B42,S,"(21.679, 39.688]"
888,889,0,3,"JOHNSTON, MISS. CATHERINE HELEN ""CARRIE""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S,"(21.679, 39.688]"

How many passengers embarked from "S"?

In [ ]:
df.loc[(df["Embarked"]=="S")]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,FareBucket
0,1,0,3,"BRAUND, MR. OWEN HARRIS",male,22.0,1,0,A/5 21171,7.2500,NaN,S,"(-0.001, 7.854]"
2,3,1,3,"HEIKKINEN, MISS. LAINA",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,"(7.854, 10.5]"
3,4,1,1,"FUTRELLE, MRS. JACQUES HEATH (LILY MAY PEEL)",female,35.0,1,0,113803,53.1000,C123,S,"(39.688, 512.329]"
4,5,0,3,"ALLEN, MR. WILLIAM HENRY",male,35.0,0,0,373450,8.0500,NaN,S,"(7.854, 10.5]"
6,7,0,1,"MCCARTHY, MR. TIMOTHY J",male,54.0,0,0,17463,51.8625,E46,S,"(39.688, 512.329]"
...,...,...,...,...,...,...,...,...,...,...,...,...,...
883,884,0,2,"BANFIELD, MR. FREDERICK JAMES",male,28.0,0,0,C.A./SOTON 34068,10.5000,NaN,S,"(7.854, 10.5]"
884,885,0,3,"SUTEHALL, MR. HENRY JR",male,25.0,0,0,SOTON/OQ 392076,7.0500,NaN,S,"(-0.001, 7.854]"
886,887,0,2,"MONTVILA, REV. JUOZAS",male,27.0,0,0,211536,13.0000,NaN,S,"(10.5, 21.679]"
887,888,1,1,"GRAHAM, MISS. MARGARET EDITH",female,19.0,0,0,112053,30.0000,B42,S,"(21.679, 39.688]"
888,889,0,3,"JOHNSTON, MISS. CATHERINE HELEN ""CARRIE""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S,"(21.679, 39.688]"

How do you sort by Age (ascending)?

In [ ]:
df.sort_values("Age")

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,FareBucket
803,804,1,3,"THOMAS, MASTER. ASSAD ALEXANDER",male,0.42,0,1,2625,8.5167,NaN,C,"(7.854, 10.5]"
755,756,1,2,"HAMALAINEN, MASTER. VILJO",male,0.67,1,1,250649,14.5000,NaN,S,"(10.5, 21.679]"
644,645,1,3,"BACLINI, MISS. EUGENIE",female,0.75,2,1,2666,19.2583,NaN,C,"(10.5, 21.679]"
469,470,1,3,"BACLINI, MISS. HELENE BARBARA",female,0.75,2,1,2666,19.2583,NaN,C,"(10.5, 21.679]"
78,79,1,2,"CALDWELL, MASTER. ALDEN GATES",male,0.83,0,2,248738,29.0000,NaN,S,"(21.679, 39.688]"
...,...,...,...,...,...,...,...,...,...,...,...,...,...
859,860,0,3,"RAZI, MR. RAIHED",male,NaN,0,0,2629,7.2292,NaN,C,"(-0.001, 7.854]"
863,864,0,3,"SAGE, MISS. DOROTHY EDITH ""DOLLY""",female,NaN,8,2,CA. 2343,69.5500,NaN,S,"(39.688, 512.329]"
868,869,0,3,"VAN MELKEBEKE, MR. PHILEMON",male,NaN,0,0,345777,9.5000,NaN,S,"(7.854, 10.5]"
878,879,0,3,"LALEFF, MR. KRISTO",male,NaN,0,0,349217,7.8958,NaN,S,"(7.854, 10.5]"
888,889,0,3,"JOHNSTON, MISS. CATHERINE HELEN ""CARRIE""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S,"(21.679, 39.688]"

How do you sort by Fare (descending)?

In [ ]:
df.sort_values(by="Fare",ascending=False)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,FareBucket
679,680,1,1,"CARDEZA, MR. THOMAS DRAKE MARTINEZ",male,36.0,0,1,PC 17755,512.3292,B51 B53 B55,C,"(39.688, 512.329]"
258,259,1,1,"WARD, MISS. ANNA",female,35.0,0,0,PC 17755,512.3292,NaN,C,"(39.688, 512.329]"
737,738,1,1,"LESURER, MR. GUSTAVE J",male,35.0,0,0,PC 17755,512.3292,B101,C,"(39.688, 512.329]"
88,89,1,1,"FORTUNE, MISS. MABEL HELEN",female,23.0,3,2,19950,263.0000,C23 C25 C27,S,"(39.688, 512.329]"
438,439,0,1,"FORTUNE, MR. MARK",male,64.0,1,4,19950,263.0000,C23 C25 C27,S,"(39.688, 512.329]"
...,...,...,...,...,...,...,...,...,...,...,...,...,...
806,807,0,1,"ANDREWS, MR. THOMAS JR",male,39.0,0,0,112050,0.0000,A36,S,"(-0.001, 7.854]"
815,816,0,1,"FRY, MR. RICHARD",male,NaN,0,0,112058,0.0000,B102,S,"(-0.001, 7.854]"
466,467,0,2,"CAMPBELL, MR. WILLIAM",male,NaN,0,0,239853,0.0000,NaN,S,"(-0.001, 7.854]"
481,482,0,2,"FROST, MR. ANTHONY WOOD ""ARCHIE""",male,NaN,0,0,239854,0.0000,NaN,S,"(-0.001, 7.854]"
822,823,0,1,"REUCHLIN, JONKHEER. JOHN GEORGE",male,38.0,0,0,19972,0.0000,NaN,S,"(-0.001, 7.854]"

How do you check how many unique Ticket values exist?

In [ ]:
df["Ticket"].nunique()

681

How do you drop the Cabin column?

In [ ]:
temp = df.drop(columns="Cabin")

In [ ]:
temp = df.drop("Cabin",axis=1)
temp

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Embarked,FareBucket
0,1,0,3,"BRAUND, MR. OWEN HARRIS",male,22.0,1,0,A/5 21171,7.2500,S,"(-0.001, 7.854]"
1,2,1,1,"CUMINGS, MRS. JOHN BRADLEY (FLORENCE BRIGGS TH...",female,38.0,1,0,PC 17599,71.2833,C,"(39.688, 512.329]"
2,3,1,3,"HEIKKINEN, MISS. LAINA",female,26.0,0,0,STON/O2. 3101282,7.9250,S,"(7.854, 10.5]"
3,4,1,1,"FUTRELLE, MRS. JACQUES HEATH (LILY MAY PEEL)",female,35.0,1,0,113803,53.1000,S,"(39.688, 512.329]"
4,5,0,3,"ALLEN, MR. WILLIAM HENRY",male,35.0,0,0,373450,8.0500,S,"(7.854, 10.5]"
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"MONTVILA, REV. JUOZAS",male,27.0,0,0,211536,13.0000,S,"(10.5, 21.679]"
887,888,1,1,"GRAHAM, MISS. MARGARET EDITH",female,19.0,0,0,112053,30.0000,S,"(21.679, 39.688]"
888,889,0,3,"JOHNSTON, MISS. CATHERINE HELEN ""CARRIE""",female,NaN,1,2,W./C. 6607,23.4500,S,"(21.679, 39.688]"
889,890,1,1,"BEHR, MR. KARL HOWELL",male,26.0,0,0,111369,30.0000,C,"(21.679, 39.688]"
890,891,0,3,"DOOLEY, MR. PATRICK",male,32.0,0,0,370376,7.7500,Q,"(-0.001, 7.854]"

How do you rename â€œSexâ€ to â€œGenderâ€?

In [ ]:
df = df.rename({"Sex":"Gender"},axis=1)
df

,PassengerId,Survived,Pclass,Name,Gender,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,FareBucket
0,1,0,3,"BRAUND, MR. OWEN HARRIS",male,22.0,1,0,A/5 21171,7.2500,NaN,S,"(-0.001, 7.854]"
1,2,1,1,"CUMINGS, MRS. JOHN BRADLEY (FLORENCE BRIGGS TH...",female,38.0,1,0,PC 17599,71.2833,C85,C,"(39.688, 512.329]"
2,3,1,3,"HEIKKINEN, MISS. LAINA",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,"(7.854, 10.5]"
3,4,1,1,"FUTRELLE, MRS. JACQUES HEATH (LILY MAY PEEL)",female,35.0,1,0,113803,53.1000,C123,S,"(39.688, 512.329]"
4,5,0,3,"ALLEN, MR. WILLIAM HENRY",male,35.0,0,0,373450,8.0500,NaN,S,"(7.854, 10.5]"
...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"MONTVILA, REV. JUOZAS",male,27.0,0,0,211536,13.0000,NaN,S,"(10.5, 21.679]"
887,888,1,1,"GRAHAM, MISS. MARGARET EDITH",female,19.0,0,0,112053,30.0000,B42,S,"(21.679, 39.688]"
888,889,0,3,"JOHNSTON, MISS. CATHERINE HELEN ""CARRIE""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S,"(21.679, 39.688]"
889,890,1,1,"BEHR, MR. KARL HOWELL",male,26.0,0,0,111369,30.0000,C148,C,"(21.679, 39.688]"
890,891,0,3,"DOOLEY, MR. PATRICK",male,32.0,0,0,370376,7.7500,NaN,Q,"(-0.001, 7.854]"

# LEVEL 2 â€” MEDIUM (21â€“40)

Display rows where Age is between 20 and 40.

In [ ]:
df.loc[(df["Age"]>=20)&(df["Age"]<=40)]

,PassengerId,Survived,Pclass,Name,Gender,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,FareBucket
0,1,0,3,"BRAUND, MR. OWEN HARRIS",male,22.0,1,0,A/5 21171,7.2500,NaN,S,"(-0.001, 7.854]"
1,2,1,1,"CUMINGS, MRS. JOHN BRADLEY (FLORENCE BRIGGS TH...",female,38.0,1,0,PC 17599,71.2833,C85,C,"(39.688, 512.329]"
2,3,1,3,"HEIKKINEN, MISS. LAINA",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,"(7.854, 10.5]"
3,4,1,1,"FUTRELLE, MRS. JACQUES HEATH (LILY MAY PEEL)",female,35.0,1,0,113803,53.1000,C123,S,"(39.688, 512.329]"
4,5,0,3,"ALLEN, MR. WILLIAM HENRY",male,35.0,0,0,373450,8.0500,NaN,S,"(7.854, 10.5]"
...,...,...,...,...,...,...,...,...,...,...,...,...,...
884,885,0,3,"SUTEHALL, MR. HENRY JR",male,25.0,0,0,SOTON/OQ 392076,7.0500,NaN,S,"(-0.001, 7.854]"
885,886,0,3,"RICE, MRS. WILLIAM (MARGARET NORTON)",female,39.0,0,5,382652,29.1250,NaN,Q,"(21.679, 39.688]"
886,887,0,2,"MONTVILA, REV. JUOZAS",male,27.0,0,0,211536,13.0000,NaN,S,"(10.5, 21.679]"
889,890,1,1,"BEHR, MR. KARL HOWELL",male,26.0,0,0,111369,30.0000,C148,C,"(21.679, 39.688]"
890,891,0,3,"DOOLEY, MR. PATRICK",male,32.0,0,0,370376,7.7500,NaN,Q,"(-0.001, 7.854]"

Filter passengers who paid more than 100 in Fare.

In [ ]:
df.loc[(df["Fare"]>=100)]

,PassengerId,Survived,Pclass,Name,Gender,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,FareBucket
27,28,0,1,"FORTUNE, MR. CHARLES ALEXANDER",male,19.00,3,2,19950,263.0000,C23 C25 C27,S,"(39.688, 512.329]"
31,32,1,1,"SPENCER, MRS. WILLIAM AUGUSTUS (MARIE EUGENIE)",female,NaN,1,0,PC 17569,146.5208,B78,C,"(39.688, 512.329]"
88,89,1,1,"FORTUNE, MISS. MABEL HELEN",female,23.00,3,2,19950,263.0000,C23 C25 C27,S,"(39.688, 512.329]"
118,119,0,1,"BAXTER, MR. QUIGG EDMOND",male,24.00,0,1,PC 17558,247.5208,B58 B60,C,"(39.688, 512.329]"
195,196,1,1,"LURETTE, MISS. ELISE",female,58.00,0,0,PC 17569,146.5208,B80,C,"(39.688, 512.329]"
215,216,1,1,"NEWELL, MISS. MADELEINE",female,31.00,1,0,35273,113.2750,D36,C,"(39.688, 512.329]"
258,259,1,1,"WARD, MISS. ANNA",female,35.00,0,0,PC 17755,512.3292,NaN,C,"(39.688, 512.329]"
268,269,1,1,"GRAHAM, MRS. WILLIAM THOMPSON (EDITH JUNKINS)",female,58.00,0,1,PC 17582,153.4625,C125,S,"(39.688, 512.329]"
269,270,1,1,"BISSETTE, MISS. AMELIA",female,35.00,0,0,PC 17760,135.6333,C99,S,"(39.688, 512.329]"
297,298,0,1,"ALLISON, MISS. HELEN LORAINE",female,2.00,1,2,113781,151.5500,C22 C26,S,"(39.688, 512.329]"
299,300,1,1,"BAXTER, MRS. JAMES (HELENE DELAUDENIERE CHAPUT)",female,50.00,0,1,PC 17558,247.5208,B58 B60,C,"(39.688, 512.329]"
305,306,1,1,"ALLISON, MASTER. HUDSON TREVOR",male,0.92,1,2,113781,151.5500,C22 C26,S,"(39.688, 512.329]"
306,307,1,1,"FLEMING, MISS. MARGARET",female,NaN,0,0,17421,110.8833,NaN,C,"(39.688, 512.329]"
307,308,1,1,"PENASCO Y CASTELLANA, MRS. VICTOR DE SATODE (M...",female,17.00,1,0,PC 17758,108.9000,C65,C,"(39.688, 512.329]"
311,312,1,1,"RYERSON, MISS. EMILY BORIE",female,18.00,2,2,PC 17608,262.3750,B57 B59 B63 B66,C,"(39.688, 512.329]"
318,319,1,1,"WICK, MISS. MARY NATALIE",female,31.00,0,2,36928,164.8667,C7,S,"(39.688, 512.329]"
319,320,1,1,"SPEDDEN, MRS. FREDERIC OAKLEY (MARGARETTA CORN...",female,40.00,1,1,16966,134.5000,E34,C,"(39.688, 512.329]"
325,326,1,1,"YOUNG, MISS. MARIE GRICE",female,36.00,0,0,PC 17760,135.6333,C32,C,"(39.688, 512.329]"
332,333,0,1,"GRAHAM, MR. GEORGE EDWARD",male,38.00,0,1,PC 17582,153.4625,C91,S,"(39.688, 512.329]"
334,335,1,1,"FRAUENTHAL, MRS. HENRY WILLIAM (CLARA HEINSHEI...",female,NaN,1,0,PC 17611,133.6500,NaN,S,"(39.688, 512.329]"
337,338,1,1,"BURNS, MISS. ELIZABETH MARGARET",female,41.00,0,0,16966,134.5000,E40,C,"(39.688, 512.329]"
341,342,1,1,"FORTUNE, MISS. ALICE ELIZABETH",female,24.00,3,2,19950,263.0000,C23 C25 C27,S,"(39.688, 512.329]"
373,374,0,1,"RINGHINI, MR. SANTE",male,22.00,0,0,PC 17760,135.6333,NaN,C,"(39.688, 512.329]"
377,378,0,1,"WIDENER, MR. HARRY ELKINS",male,27.00,0,2,113503,211.5000,C82,C,"(39.688, 512.329]"
380,381,1,1,"BIDOIS, MISS. ROSALIE",female,42.00,0,0,PC 17757,227.5250,NaN,C,"(39.688, 512.329]"
390,391,1,1,"CARTER, MR. WILLIAM ERNEST",male,36.00,1,2,113760,120.0000,B96 B98,S,"(39.688, 512.329]"
393,394,1,1,"NEWELL, MISS. MARJORIE",female,23.00,1,0,35273,113.2750,D36,C,"(39.688, 512.329]"
435,436,1,1,"CARTER, MISS. LUCILE POLK",female,14.00,1,2,113760,120.0000,B96 B98,S,"(39.688, 512.329]"
438,439,0,1,"FORTUNE, MR. MARK",male,64.00,1,4,19950,263.0000,C23 C25 C27,S,"(39.688, 512.329]"
498,499,0,1,"ALLISON, MRS. HUDSON J C (BESSIE WALDO DANIELS)",female,25.00,1,2,113781,151.5500,C22 C26,S,"(39.688, 512.329]"
505,506,0,1,"PENASCO Y CASTELLANA, MR. VICTOR DE SATODE",male,18.00,1,0,PC 17758,108.9000,C65,C,"(39.688, 512.329]"
527,528,0,1,"FARTHING, MR. JOHN",male,NaN,0,0,PC 17483,221.7792,C95,S,"(39.688, 512.329]"
537,538,1,1,"LEROY, MISS. BERTHA",female,30.00,0,0,PC 17761,106.4250,NaN,C,"(39.688, 512.329]"
544,545,0,1,"DOUGLAS, MR. WALTER DONALD",male,50.00,1,0,PC 17761,106.4250,C86,C,"(39.688, 512.329]"
550,551,1,1,"THAYER, MR. JOHN BORLAND JR",male,17.00,0,2,17421,110.8833,C70,C,"(39.688, 512.329]"
557,558,0,1,"ROBBINS, MR. VICTOR",male,NaN,0,0,PC 17757,227.5250,NaN,C,"(39.688, 512.329]"
581,582,1,1,"THAYER, MRS. JOHN BORLAND (MARIAN LONGSTRETH M...",female,39.00,1,1,17421,110.8833,C68,C,"(39.688, 512.329]"
609,610,1,1,"SHUTES, MISS. ELIZABETH W",female,40.00,0,0,PC 17582,153.4625,C125,S,"(39.688, 512.329]"
659,660,0,1,"NEWELL, MR. ARTHUR WEBSTER",male,58.00,0,2,35273,113.2750,D48,C,"(39.688, 512.329]"
660,661,1,1,"FRAUENTHAL, DR. HENRY WILLIAM",male,50.00,2,0,PC 17611,133.6500,NaN,S,"(39.688, 512.329]"
679,680,1,1,"CARDEZA, MR. THOMAS DRAKE MARTINEZ",male,36.00,0,1,PC 17755,512.3292,B51 B53 B55,C,"(39.688, 512.329]"
689,690,1,1,"MADILL, MISS. GEORGETTE ALEXANDRA",female,15.00,0,1,24160,211.3375,B5,S,"(39.688, 512.329]"
698,699,0,1,"THAYER, MR. JOHN BORLAND",male,49.00,1,1,17421,110.8833,C68,C,"(39.688, 512.329]"
700,701,1,1,"ASTOR, MRS. JOHN JACOB (MADELEINE TALMADGE FORCE)",female,18.00,1,0,PC 17757,227.5250,C62 C64,C,"(39.688, 512.329]"
708,709,1,1,"CLEAVER, MISS. ALICE",female,22.00,0,0,113781,151.5500,NaN,S,"(39.688, 512.329]"
716,717,1,1,"ENDRES, MISS. CAROLINE LOUISE",female,38.00,0,0,PC 17757,227.5250,C45,C,"(39.688, 512.329]"
730,731,1,1,"ALLEN, MISS. ELISABETH WALTON",female,29.00,0,0,24160,211.3375,B5,S,"(39.688, 512.329]"
737,738,1,1,"LESURER, MR. GUSTAVE J",male,35.00,0,0,PC 17755,512.3292,B101,C,"(39.688, 512.329]"
742,743,1,1,"RYERSON, MISS. SUSAN PARKER ""SUZETTE""",female,21.00,2,2,PC 17608,262.3750,B57 B59 B63 B66,C,"(39.688, 512.329]"
763,764,1,1,"CARTER, MRS. WILLIAM ERNEST (LUCILE POLK)",female,36.00,1,2,113760,120.0000,B96 B98,S,"(39.688, 512.329]"
779,780,1,1,"ROBERT, MRS. EDWARD SCOTT (ELISABETH WALTON MC...",female,43.00,0,1,24160,211.3375,B3,S,"(39.688, 512.329]"
802,803,1,1,"CARTER, MASTER. WILLIAM THORNTON II",male,11.00,1,2,113760,120.0000,B96 B98,S,"(39.688, 512.329]"
856,857,1,1,"WICK, MRS. GEORGE DENNICK (MARY HITCHCOCK)",female,45.00,1,1,36928,164.8667,NaN,S,"(39.688, 512.329]"

Count number of male vs female passengers.

In [ ]:
df.groupby("Gender").count()

,PassengerId,Survived,Pclass,Name,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,FareBucket
Gender,,,,,,,,,,,,
female,314,314,314,314,261,314,314,314,314,97,312,314
male,577,577,577,577,453,577,577,577,577,107,577,577

What is the average fare by Pclass?

In [ ]:
df.groupby("Pclass")["Fare"].mean()

Pclass
1    84.154687
2    20.662183
3    13.675550
Name: Fare, dtype: float64

What is the average age of survivors vs non-survivors?

In [ ]:
df.groupby("Survived")["Age"].mean()

Survived
0    30.626179
1    28.343690
Name: Age, dtype: float64

In [ ]:
df.sort_values(by="Age",ascending=False).head(5)

,PassengerId,Survived,Pclass,Name,Gender,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,FareBucket
630,631,1,1,"BARKWORTH, MR. ALGERNON HENRY WILSON",male,80.0,0,0,27042,30.0000,A23,S,"(21.679, 39.688]"
851,852,0,3,"SVENSSON, MR. JOHAN",male,74.0,0,0,347060,7.7750,NaN,S,"(-0.001, 7.854]"
493,494,0,1,"ARTAGAVEYTIA, MR. RAMON",male,71.0,0,0,PC 17609,49.5042,NaN,C,"(39.688, 512.329]"
96,97,0,1,"GOLDSCHMIDT, MR. GEORGE B",male,71.0,0,0,PC 17754,34.6542,A5,C,"(21.679, 39.688]"
116,117,0,3,"CONNORS, MR. PATRICK",male,70.5,0,0,370369,7.7500,NaN,Q,"(-0.001, 7.854]"

Find passengers with missing Age values.

In [ ]:
df.loc[(df["Age"].isnull())]

,PassengerId,Survived,Pclass,Name,Gender,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,FareBucket
5,6,0,3,"MORAN, MR. JAMES",male,NaN,0,0,330877,8.4583,NaN,Q,"(7.854, 10.5]"
17,18,1,2,"WILLIAMS, MR. CHARLES EUGENE",male,NaN,0,0,244373,13.0000,NaN,S,"(10.5, 21.679]"
19,20,1,3,"MASSELMANI, MRS. FATIMA",female,NaN,0,0,2649,7.2250,NaN,C,"(-0.001, 7.854]"
26,27,0,3,"EMIR, MR. FARRED CHEHAB",male,NaN,0,0,2631,7.2250,NaN,C,"(-0.001, 7.854]"
28,29,1,3,"O'DWYER, MISS. ELLEN ""NELLIE""",female,NaN,0,0,330959,7.8792,NaN,Q,"(7.854, 10.5]"
...,...,...,...,...,...,...,...,...,...,...,...,...,...
859,860,0,3,"RAZI, MR. RAIHED",male,NaN,0,0,2629,7.2292,NaN,C,"(-0.001, 7.854]"
863,864,0,3,"SAGE, MISS. DOROTHY EDITH ""DOLLY""",female,NaN,8,2,CA. 2343,69.5500,NaN,S,"(39.688, 512.329]"
868,869,0,3,"VAN MELKEBEKE, MR. PHILEMON",male,NaN,0,0,345777,9.5000,NaN,S,"(7.854, 10.5]"
878,879,0,3,"LALEFF, MR. KRISTO",male,NaN,0,0,349217,7.8958,NaN,S,"(7.854, 10.5]"
888,889,0,3,"JOHNSTON, MISS. CATHERINE HELEN ""CARRIE""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S,"(21.679, 39.688]"

Fill missing Age values with the mean age.

In [ ]:
df['Age'] = df['Age'].fillna(df['Age'].mean())
df

,PassengerId,Survived,Pclass,Name,Gender,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,FareBucket
0,1,0,3,"BRAUND, MR. OWEN HARRIS",male,22.000000,1,0,A/5 21171,7.2500,NaN,S,"(-0.001, 7.854]"
1,2,1,1,"CUMINGS, MRS. JOHN BRADLEY (FLORENCE BRIGGS TH...",female,38.000000,1,0,PC 17599,71.2833,C85,C,"(39.688, 512.329]"
2,3,1,3,"HEIKKINEN, MISS. LAINA",female,26.000000,0,0,STON/O2. 3101282,7.9250,NaN,S,"(7.854, 10.5]"
3,4,1,1,"FUTRELLE, MRS. JACQUES HEATH (LILY MAY PEEL)",female,35.000000,1,0,113803,53.1000,C123,S,"(39.688, 512.329]"
4,5,0,3,"ALLEN, MR. WILLIAM HENRY",male,35.000000,0,0,373450,8.0500,NaN,S,"(7.854, 10.5]"
...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"MONTVILA, REV. JUOZAS",male,27.000000,0,0,211536,13.0000,NaN,S,"(10.5, 21.679]"
887,888,1,1,"GRAHAM, MISS. MARGARET EDITH",female,19.000000,0,0,112053,30.0000,B42,S,"(21.679, 39.688]"
888,889,0,3,"JOHNSTON, MISS. CATHERINE HELEN ""CARRIE""",female,29.699118,1,2,W./C. 6607,23.4500,NaN,S,"(21.679, 39.688]"
889,890,1,1,"BEHR, MR. KARL HOWELL",male,26.000000,0,0,111369,30.0000,C148,C,"(21.679, 39.688]"
890,891,0,3,"DOOLEY, MR. PATRICK",male,32.000000,0,0,370376,7.7500,NaN,Q,"(-0.001, 7.854]"

Replace missing Embarked values with the mode.

In [ ]:
df["Embarked"] = df["Embarked"].fillna(df["Embarked"].mode())
df

,PassengerId,Survived,Pclass,Name,Gender,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,FareBucket
0,1,0,3,"BRAUND, MR. OWEN HARRIS",male,22.000000,1,0,A/5 21171,7.2500,NaN,S,"(-0.001, 7.854]"
1,2,1,1,"CUMINGS, MRS. JOHN BRADLEY (FLORENCE BRIGGS TH...",female,38.000000,1,0,PC 17599,71.2833,C85,C,"(39.688, 512.329]"
2,3,1,3,"HEIKKINEN, MISS. LAINA",female,26.000000,0,0,STON/O2. 3101282,7.9250,NaN,S,"(7.854, 10.5]"
3,4,1,1,"FUTRELLE, MRS. JACQUES HEATH (LILY MAY PEEL)",female,35.000000,1,0,113803,53.1000,C123,S,"(39.688, 512.329]"
4,5,0,3,"ALLEN, MR. WILLIAM HENRY",male,35.000000,0,0,373450,8.0500,NaN,S,"(7.854, 10.5]"
...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"MONTVILA, REV. JUOZAS",male,27.000000,0,0,211536,13.0000,NaN,S,"(10.5, 21.679]"
887,888,1,1,"GRAHAM, MISS. MARGARET EDITH",female,19.000000,0,0,112053,30.0000,B42,S,"(21.679, 39.688]"
888,889,0,3,"JOHNSTON, MISS. CATHERINE HELEN ""CARRIE""",female,29.699118,1,2,W./C. 6607,23.4500,NaN,S,"(21.679, 39.688]"
889,890,1,1,"BEHR, MR. KARL HOWELL",male,26.000000,0,0,111369,30.0000,C148,C,"(21.679, 39.688]"
890,891,0,3,"DOOLEY, MR. PATRICK",male,32.000000,0,0,370376,7.7500,NaN,Q,"(-0.001, 7.854]"

How many passengers have SibSp > 2?

In [ ]:
len(df.loc[(df['SibSp']>2)])

46

Count passengers grouped by Embarked and Sex.

In [ ]:
df.groupby("Embarked").count()

,PassengerId,Survived,Pclass,Name,Gender,Age,SibSp,Parch,Ticket,Fare,Cabin,FareBucket
Embarked,,,,,,,,,,,,
C,168,168,168,168,168,168,168,168,168,168,69,168
Q,77,77,77,77,77,77,77,77,77,77,4,77
S,644,644,644,644,644,644,644,644,644,644,129,644

In [ ]:
df.groupby("Sex").count()

KeyError: 'Sex'

In [ ]:
result = df.groupby(['Embarked', 'Sex']).size()
result

KeyError: 'Sex'

Find min, max, mean fare for each class.

In [ ]:
df.groupby("Pclass")["Fare"].describe()

        count       mean        std  min       25%      50%   75%       max
Pclass
1       216.0  84.154687  78.380373  0.0  30.92395  60.2875  93.5  512.3292
2       184.0  20.662183  13.417399  0.0  13.00000  14.2500  26.0   73.5000
3       491.0  13.675550  11.778142  0.0   7.75000   8.0500  15.5   69.5500

In [ ]:
df.groupby("Pclass")["Fare"].agg(['min','max','mean'])

        min       max       mean
Pclass
1       0.0  512.3292  84.154687
2       0.0   73.5000  20.662183
3       0.0   69.5500  13.675550

Create a new column â€œFamilySizeâ€ = SibSp + Parch + 1.

In [ ]:
df["FamilySize"] = df["SibSp"] + df["Parch"] + 1
df

,PassengerId,Survived,Pclass,Name,Gender,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,FareBucket,FamilySize
0,1,0,3,"BRAUND, MR. OWEN HARRIS",male,22.000000,1,0,A/5 21171,7.2500,NaN,S,"(-0.001, 7.854]",2
1,2,1,1,"CUMINGS, MRS. JOHN BRADLEY (FLORENCE BRIGGS TH...",female,38.000000,1,0,PC 17599,71.2833,C85,C,"(39.688, 512.329]",2
2,3,1,3,"HEIKKINEN, MISS. LAINA",female,26.000000,0,0,STON/O2. 3101282,7.9250,NaN,S,"(7.854, 10.5]",1
3,4,1,1,"FUTRELLE, MRS. JACQUES HEATH (LILY MAY PEEL)",female,35.000000,1,0,113803,53.1000,C123,S,"(39.688, 512.329]",2
4,5,0,3,"ALLEN, MR. WILLIAM HENRY",male,35.000000,0,0,373450,8.0500,NaN,S,"(7.854, 10.5]",1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"MONTVILA, REV. JUOZAS",male,27.000000,0,0,211536,13.0000,NaN,S,"(10.5, 21.679]",1
887,888,1,1,"GRAHAM, MISS. MARGARET EDITH",female,19.000000,0,0,112053,30.0000,B42,S,"(21.679, 39.688]",1
888,889,0,3,"JOHNSTON, MISS. CATHERINE HELEN ""CARRIE""",female,29.699118,1,2,W./C. 6607,23.4500,NaN,S,"(21.679, 39.688]",4
889,890,1,1,"BEHR, MR. KARL HOWELL",male,26.000000,0,0,111369,30.0000,C148,C,"(21.679, 39.688]",1
890,891,0,3,"DOOLEY, MR. PATRICK",male,32.000000,0,0,370376,7.7500,NaN,Q,"(-0.001, 7.854]",1

Create a new column â€œIsChildâ€ where Age < 18.

In [ ]:
df['IsChild'] = df["Age"]<18
df

,PassengerId,Survived,Pclass,Name,Gender,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,FareBucket,FamilySize,IsChild
0,1,0,3,"BRAUND, MR. OWEN HARRIS",male,22.000000,1,0,A/5 21171,7.2500,NaN,S,"(-0.001, 7.854]",2,False
1,2,1,1,"CUMINGS, MRS. JOHN BRADLEY (FLORENCE BRIGGS TH...",female,38.000000,1,0,PC 17599,71.2833,C85,C,"(39.688, 512.329]",2,False
2,3,1,3,"HEIKKINEN, MISS. LAINA",female,26.000000,0,0,STON/O2. 3101282,7.9250,NaN,S,"(7.854, 10.5]",1,False
3,4,1,1,"FUTRELLE, MRS. JACQUES HEATH (LILY MAY PEEL)",female,35.000000,1,0,113803,53.1000,C123,S,"(39.688, 512.329]",2,False
4,5,0,3,"ALLEN, MR. WILLIAM HENRY",male,35.000000,0,0,373450,8.0500,NaN,S,"(7.854, 10.5]",1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"MONTVILA, REV. JUOZAS",male,27.000000,0,0,211536,13.0000,NaN,S,"(10.5, 21.679]",1,False
887,888,1,1,"GRAHAM, MISS. MARGARET EDITH",female,19.000000,0,0,112053,30.0000,B42,S,"(21.679, 39.688]",1,False
888,889,0,3,"JOHNSTON, MISS. CATHERINE HELEN ""CARRIE""",female,29.699118,1,2,W./C. 6607,23.4500,NaN,S,"(21.679, 39.688]",4,False
889,890,1,1,"BEHR, MR. KARL HOWELL",male,26.000000,0,0,111369,30.0000,C148,C,"(21.679, 39.688]",1,False
890,891,0,3,"DOOLEY, MR. PATRICK",male,32.000000,0,0,370376,7.7500,NaN,Q,"(-0.001, 7.854]",1,False

Count how many children survived.

In [ ]:
len(df.loc[(df["IsChild"]==True)&(df["Survived"]==1)])

61

In [ ]:
df.loc[(df["IsChild"]==True)&(df["Survived"]==1)].shape[0]

61

Show survival rate per Pclass.

In [ ]:
df.groupby("Pclass")["Survived"].mean()*100

Pclass
1    62.962963
2    47.282609
3    24.236253
Name: Survived, dtype: float64

Show survival rate per Sex.

In [ ]:
df.groupby("Sex")["Survived"].mean()*100

KeyError: 'Sex'

Which Ticket occurs most often?

In [ ]:
df.value_counts("Ticket")

Ticket
1601        7
CA. 2343    7
347082      7
CA 2144     6
3101295     6
           ..
112052      1
112050      1
111428      1
111427      1
111426      1
Name: count, Length: 681, dtype: int64

In [ ]:
df['Ticket'].mode()[0]

'1601'

In [ ]:
df['Ticket'].mode()

0        1601
1      347082
2    CA. 2343
Name: Ticket, dtype: object

Which Cabin letter appears the most (use str[0])?

In [ ]:
df["Cabin"].str[0].mode()

0    C
Name: Cabin, dtype: object

How many passengers have Fare = 0?

In [ ]:
len(df.loc[(df["Fare"]==0)])

15

In [ ]:
df.loc[(df["Fare"]==0)]

,PassengerId,Survived,Pclass,Name,Gender,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,FareBucket,FamilySize,IsChild
179,180,0,3,"LEONARD, MR. LIONEL",male,36.000000,0,0,LINE,0.0,NaN,S,"(-0.001, 7.854]",1,False
263,264,0,1,"HARRISON, MR. WILLIAM",male,40.000000,0,0,112059,0.0,B94,S,"(-0.001, 7.854]",1,False
271,272,1,3,"TORNQUIST, MR. WILLIAM HENRY",male,25.000000,0,0,LINE,0.0,NaN,S,"(-0.001, 7.854]",1,False
277,278,0,2,"PARKES, MR. FRANCIS ""FRANK""",male,29.699118,0,0,239853,0.0,NaN,S,"(-0.001, 7.854]",1,False
302,303,0,3,"JOHNSON, MR. WILLIAM CAHOONE JR",male,19.000000,0,0,LINE,0.0,NaN,S,"(-0.001, 7.854]",1,False
413,414,0,2,"CUNNINGHAM, MR. ALFRED FLEMING",male,29.699118,0,0,239853,0.0,NaN,S,"(-0.001, 7.854]",1,False
466,467,0,2,"CAMPBELL, MR. WILLIAM",male,29.699118,0,0,239853,0.0,NaN,S,"(-0.001, 7.854]",1,False
481,482,0,2,"FROST, MR. ANTHONY WOOD ""ARCHIE""",male,29.699118,0,0,239854,0.0,NaN,S,"(-0.001, 7.854]",1,False
597,598,0,3,"JOHNSON, MR. ALFRED",male,49.000000,0,0,LINE,0.0,NaN,S,"(-0.001, 7.854]",1,False
633,634,0,1,"PARR, MR. WILLIAM HENRY MARSH",male,29.699118,0,0,112052,0.0,NaN,S,"(-0.001, 7.854]",1,False
674,675,0,2,"WATSON, MR. ENNIS HASTINGS",male,29.699118,0,0,239856,0.0,NaN,S,"(-0.001, 7.854]",1,False
732,733,0,2,"KNIGHT, MR. ROBERT J",male,29.699118,0,0,239855,0.0,NaN,S,"(-0.001, 7.854]",1,False
806,807,0,1,"ANDREWS, MR. THOMAS JR",male,39.000000,0,0,112050,0.0,A36,S,"(-0.001, 7.854]",1,False
815,816,0,1,"FRY, MR. RICHARD",male,29.699118,0,0,112058,0.0,B102,S,"(-0.001, 7.854]",1,False
822,823,0,1,"REUCHLIN, JONKHEER. JOHN GEORGE",male,38.000000,0,0,19972,0.0,NaN,S,"(-0.001, 7.854]",1,False

# LEVEL 3 â€” DIFFICULT (41â€“60)

Use groupby to compute average Age per Sex per Pclass.

In [ ]:
df.groupby(["Sex","Pclass"])["Age"].mean()

KeyError: 'Sex'

Find the passenger who paid the highest fare.

In [ ]:
df.loc[(df["Fare"]==df["Fare"].max())]

,PassengerId,Survived,Pclass,Name,Gender,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,FareBucket,FamilySize,IsChild
258,259,1,1,"WARD, MISS. ANNA",female,35.0,0,0,PC 17755,512.3292,NaN,C,"(39.688, 512.329]",1,False
679,680,1,1,"CARDEZA, MR. THOMAS DRAKE MARTINEZ",male,36.0,0,1,PC 17755,512.3292,B51 B53 B55,C,"(39.688, 512.329]",2,False
737,738,1,1,"LESURER, MR. GUSTAVE J",male,35.0,0,0,PC 17755,512.3292,B101,C,"(39.688, 512.329]",1,False

In [ ]:
df["Fare"].max()

512.3292

In [ ]:
df[(df["Fare"]==df["Fare"].max())]

,PassengerId,Survived,Pclass,Name,Gender,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,FareBucket,FamilySize,IsChild
258,259,1,1,"WARD, MISS. ANNA",female,35.0,0,0,PC 17755,512.3292,NaN,C,"(39.688, 512.329]",1,False
679,680,1,1,"CARDEZA, MR. THOMAS DRAKE MARTINEZ",male,36.0,0,1,PC 17755,512.3292,B51 B53 B55,C,"(39.688, 512.329]",2,False
737,738,1,1,"LESURER, MR. GUSTAVE J",male,35.0,0,0,PC 17755,512.3292,B101,C,"(39.688, 512.329]",1,False

Find rows where Name contains â€œMrsâ€.

In [ ]:
df[df["Name"].str.contains("Mrs",na = False)]

Empty DataFrame
Columns: [PassengerId, Survived, Pclass, Name, Gender, Age, SibSp, Parch, Ticket, Fare, Cabin, Embarked, FareBucket, FamilySize, IsChild]
Index: []

Extract honorific title (Mr, Mrs, Miss, etc.) from Name.

In [ ]:
df['Title'] = df['Name'].str.extract(r',\s*([^\.]+)\.')
df

,PassengerId,Survived,Pclass,Name,Gender,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,FareBucket,FamilySize,IsChild,Title
0,1,0,3,"BRAUND, MR. OWEN HARRIS",male,22.000000,1,0,A/5 21171,7.2500,NaN,S,"(-0.001, 7.854]",2,False,MR
1,2,1,1,"CUMINGS, MRS. JOHN BRADLEY (FLORENCE BRIGGS TH...",female,38.000000,1,0,PC 17599,71.2833,C85,C,"(39.688, 512.329]",2,False,MRS
2,3,1,3,"HEIKKINEN, MISS. LAINA",female,26.000000,0,0,STON/O2. 3101282,7.9250,NaN,S,"(7.854, 10.5]",1,False,MISS
3,4,1,1,"FUTRELLE, MRS. JACQUES HEATH (LILY MAY PEEL)",female,35.000000,1,0,113803,53.1000,C123,S,"(39.688, 512.329]",2,False,MRS
4,5,0,3,"ALLEN, MR. WILLIAM HENRY",male,35.000000,0,0,373450,8.0500,NaN,S,"(7.854, 10.5]",1,False,MR
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"MONTVILA, REV. JUOZAS",male,27.000000,0,0,211536,13.0000,NaN,S,"(10.5, 21.679]",1,False,REV
887,888,1,1,"GRAHAM, MISS. MARGARET EDITH",female,19.000000,0,0,112053,30.0000,B42,S,"(21.679, 39.688]",1,False,MISS
888,889,0,3,"JOHNSTON, MISS. CATHERINE HELEN ""CARRIE""",female,29.699118,1,2,W./C. 6607,23.4500,NaN,S,"(21.679, 39.688]",4,False,MISS
889,890,1,1,"BEHR, MR. KARL HOWELL",male,26.000000,0,0,111369,30.0000,C148,C,"(21.679, 39.688]",1,False,MR
890,891,0,3,"DOOLEY, MR. PATRICK",male,32.000000,0,0,370376,7.7500,NaN,Q,"(-0.001, 7.854]",1,False,MR

Count survival rate for each title.

In [ ]:
df.groupby("Title")["Survived"].mean()*100

Title
CAPT              0.000000
COL              50.000000
DON               0.000000
DR               42.857143
JONKHEER          0.000000
LADY            100.000000
MAJOR            50.000000
MASTER           57.500000
MISS             69.780220
MLLE            100.000000
MME             100.000000
MR               15.667311
MRS              79.200000
MS              100.000000
REV               0.000000
SIR             100.000000
THE COUNTESS    100.000000
Name: Survived, dtype: float64

Find correlation between Age, Fare, Pclass, Survived.

In [ ]:
df[['Age','Fare','Pclass','Survived']].corr()

               Age      Fare    Pclass  Survived
Age       1.000000  0.091566 -0.331339 -0.069809
Fare      0.091566  1.000000 -0.549500  0.257307
Pclass   -0.331339 -0.549500  1.000000 -0.338481
Survived -0.069809  0.257307 -0.338481  1.000000

Normalize the Fare column (0â€“1 scale).

In [ ]:
df['Fare_norm'] = (df['Fare'] - df['Fare'].min()) / (df['Fare'].max() - df['Fare'].min())
df

,PassengerId,Survived,Pclass,Name,Gender,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,FareBucket,FamilySize,IsChild,Title,Fare_norm
0,1,0,3,"BRAUND, MR. OWEN HARRIS",male,22.000000,1,0,A/5 21171,7.2500,NaN,S,"(-0.001, 7.854]",2,False,MR,0.014151
1,2,1,1,"CUMINGS, MRS. JOHN BRADLEY (FLORENCE BRIGGS TH...",female,38.000000,1,0,PC 17599,71.2833,C85,C,"(39.688, 512.329]",2,False,MRS,0.139136
2,3,1,3,"HEIKKINEN, MISS. LAINA",female,26.000000,0,0,STON/O2. 3101282,7.9250,NaN,S,"(7.854, 10.5]",1,False,MISS,0.015469
3,4,1,1,"FUTRELLE, MRS. JACQUES HEATH (LILY MAY PEEL)",female,35.000000,1,0,113803,53.1000,C123,S,"(39.688, 512.329]",2,False,MRS,0.103644
4,5,0,3,"ALLEN, MR. WILLIAM HENRY",male,35.000000,0,0,373450,8.0500,NaN,S,"(7.854, 10.5]",1,False,MR,0.015713
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"MONTVILA, REV. JUOZAS",male,27.000000,0,0,211536,13.0000,NaN,S,"(10.5, 21.679]",1,False,REV,0.025374
887,888,1,1,"GRAHAM, MISS. MARGARET EDITH",female,19.000000,0,0,112053,30.0000,B42,S,"(21.679, 39.688]",1,False,MISS,0.058556
888,889,0,3,"JOHNSTON, MISS. CATHERINE HELEN ""CARRIE""",female,29.699118,1,2,W./C. 6607,23.4500,NaN,S,"(21.679, 39.688]",4,False,MISS,0.045771
889,890,1,1,"BEHR, MR. KARL HOWELL",male,26.000000,0,0,111369,30.0000,C148,C,"(21.679, 39.688]",1,False,MR,0.058556
890,891,0,3,"DOOLEY, MR. PATRICK",male,32.000000,0,0,370376,7.7500,NaN,Q,"(-0.001, 7.854]",1,False,MR,0.015127

Bin Age into categories: Child/Adult/Senior.

In [ ]:
df["Age_Groups"] = df["Age"].apply(lambda x:"Child" if x <=18 else("Adult" if x<=60 else("Senior")))
df

,PassengerId,Survived,Pclass,Name,Gender,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,FareBucket,FamilySize,IsChild,Title,Fare_norm,Age_Groups
0,1,0,3,"BRAUND, MR. OWEN HARRIS",male,22.000000,1,0,A/5 21171,7.2500,NaN,S,"(-0.001, 7.854]",2,False,MR,0.014151,Adult
1,2,1,1,"CUMINGS, MRS. JOHN BRADLEY (FLORENCE BRIGGS TH...",female,38.000000,1,0,PC 17599,71.2833,C85,C,"(39.688, 512.329]",2,False,MRS,0.139136,Adult
2,3,1,3,"HEIKKINEN, MISS. LAINA",female,26.000000,0,0,STON/O2. 3101282,7.9250,NaN,S,"(7.854, 10.5]",1,False,MISS,0.015469,Adult
3,4,1,1,"FUTRELLE, MRS. JACQUES HEATH (LILY MAY PEEL)",female,35.000000,1,0,113803,53.1000,C123,S,"(39.688, 512.329]",2,False,MRS,0.103644,Adult
4,5,0,3,"ALLEN, MR. WILLIAM HENRY",male,35.000000,0,0,373450,8.0500,NaN,S,"(7.854, 10.5]",1,False,MR,0.015713,Adult
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"MONTVILA, REV. JUOZAS",male,27.000000,0,0,211536,13.0000,NaN,S,"(10.5, 21.679]",1,False,REV,0.025374,Adult
887,888,1,1,"GRAHAM, MISS. MARGARET EDITH",female,19.000000,0,0,112053,30.0000,B42,S,"(21.679, 39.688]",1,False,MISS,0.058556,Adult
888,889,0,3,"JOHNSTON, MISS. CATHERINE HELEN ""CARRIE""",female,29.699118,1,2,W./C. 6607,23.4500,NaN,S,"(21.679, 39.688]",4,False,MISS,0.045771,Adult
889,890,1,1,"BEHR, MR. KARL HOWELL",male,26.000000,0,0,111369,30.0000,C148,C,"(21.679, 39.688]",1,False,MR,0.058556,Adult
890,891,0,3,"DOOLEY, MR. PATRICK",male,32.000000,0,0,370376,7.7500,NaN,Q,"(-0.001, 7.854]",1,False,MR,0.015127,Adult

For each Embarked port, find the top 3 highest fares.

In [ ]:
df.groupby('Embarked')['Fare'].nlargest(3)

Embarked
C         258    512.3292
          679    512.3292
          737    512.3292
Q         245     90.0000
          412     90.0000
          16      29.1250
S         27     263.0000
          88     263.0000
          341    263.0000
Name: Fare, dtype: float64

Find the name of the youngest surviving female.

In [ ]:
df.loc[(df["Sex"]=="female")&(df["Survived"]==1)].sort_values("Age").iloc[0]["Name"]

KeyError: 'Sex'

In [ ]:
df[df['Survived'] == 1].loc[df['Age'].idxmin()]['Name']

'THOMAS, MASTER. ASSAD ALEXANDER'

Count how many passengers have the same last name.

In [ ]:
df['Last'] = df['Name'].str.split(',').str[0]
df['Last'].value_counts()

Last
ANDERSSON    9
SAGE         7
SKOOG        6
PANULA       6
CARTER       6
            ..
NYSVEEN      1
YOUNG        1
SLAYTER      1
DANOFF       1
HAAS         1
Name: count, Length: 667, dtype: int64

Identify duplicate Ticket numbers.

In [ ]:
df[df["Ticket"].duplicated(keep=False)]

,PassengerId,Survived,Pclass,Name,Gender,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,FareBucket,FamilySize,IsChild,Title,Fare_norm,Age_Groups,Last
3,4,1,1,"FUTRELLE, MRS. JACQUES HEATH (LILY MAY PEEL)",female,35.000000,1,0,113803,53.1000,C123,S,"(39.688, 512.329]",2,False,MRS,0.103644,Adult,FUTRELLE
7,8,0,3,"PALSSON, MASTER. GOSTA LEONARD",male,2.000000,3,1,349909,21.0750,NaN,S,"(10.5, 21.679]",5,True,MASTER,0.041136,Child,PALSSON
8,9,1,3,"JOHNSON, MRS. OSCAR W (ELISABETH VILHELMINA BERG)",female,27.000000,0,2,347742,11.1333,NaN,S,"(10.5, 21.679]",3,False,MRS,0.021731,Adult,JOHNSON
9,10,1,2,"NASSER, MRS. NICHOLAS (ADELE ACHEM)",female,14.000000,1,0,237736,30.0708,NaN,C,"(21.679, 39.688]",2,True,MRS,0.058694,Child,NASSER
10,11,1,3,"SANDSTROM, MISS. MARGUERITE RUT",female,4.000000,1,1,PP 9549,16.7000,G6,S,"(10.5, 21.679]",3,True,MISS,0.032596,Child,SANDSTROM
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
876,877,0,3,"GUSTAFSSON, MR. ALFRED OSSIAN",male,20.000000,0,0,7534,9.8458,NaN,S,"(7.854, 10.5]",1,False,MR,0.019218,Adult,GUSTAFSSON
879,880,1,1,"POTTER, MRS. THOMAS JR (LILY ALEXENIA WILSON)",female,56.000000,0,1,11767,83.1583,C50,C,"(39.688, 512.329]",2,False,MRS,0.162314,Adult,POTTER
880,881,1,2,"SHELLEY, MRS. WILLIAM (IMANITA PARRISH HALL)",female,25.000000,0,1,230433,26.0000,NaN,S,"(21.679, 39.688]",2,False,MRS,0.050749,Adult,SHELLEY
885,886,0,3,"RICE, MRS. WILLIAM (MARGARET NORTON)",female,39.000000,0,5,382652,29.1250,NaN,Q,"(21.679, 39.688]",6,False,MRS,0.056848,Adult,RICE
888,889,0,3,"JOHNSTON, MISS. CATHERINE HELEN ""CARRIE""",female,29.699118,1,2,W./C. 6607,23.4500,NaN,S,"(21.679, 39.688]",4,False,MISS,0.045771,Adult,JOHNSTON

Find average family size per Pclass.

In [ ]:
df.groupby("Pclass")["FamilySize"].mean()

Pclass
1    1.773148
2    1.782609
3    2.008147
Name: FamilySize, dtype: float64

Create a column â€œIsAloneâ€ (FamilySize == 1).

In [ ]:
df["IsAlone"] = (df["FamilySize"]==1)
df

,PassengerId,Survived,Pclass,Name,Gender,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,FareBucket,FamilySize,IsChild,Title,Fare_norm,Age_Groups,Last,IsAlone
0,1,0,3,"BRAUND, MR. OWEN HARRIS",male,22.000000,1,0,A/5 21171,7.2500,NaN,S,"(-0.001, 7.854]",2,False,MR,0.014151,Adult,BRAUND,False
1,2,1,1,"CUMINGS, MRS. JOHN BRADLEY (FLORENCE BRIGGS TH...",female,38.000000,1,0,PC 17599,71.2833,C85,C,"(39.688, 512.329]",2,False,MRS,0.139136,Adult,CUMINGS,False
2,3,1,3,"HEIKKINEN, MISS. LAINA",female,26.000000,0,0,STON/O2. 3101282,7.9250,NaN,S,"(7.854, 10.5]",1,False,MISS,0.015469,Adult,HEIKKINEN,True
3,4,1,1,"FUTRELLE, MRS. JACQUES HEATH (LILY MAY PEEL)",female,35.000000,1,0,113803,53.1000,C123,S,"(39.688, 512.329]",2,False,MRS,0.103644,Adult,FUTRELLE,False
4,5,0,3,"ALLEN, MR. WILLIAM HENRY",male,35.000000,0,0,373450,8.0500,NaN,S,"(7.854, 10.5]",1,False,MR,0.015713,Adult,ALLEN,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"MONTVILA, REV. JUOZAS",male,27.000000,0,0,211536,13.0000,NaN,S,"(10.5, 21.679]",1,False,REV,0.025374,Adult,MONTVILA,True
887,888,1,1,"GRAHAM, MISS. MARGARET EDITH",female,19.000000,0,0,112053,30.0000,B42,S,"(21.679, 39.688]",1,False,MISS,0.058556,Adult,GRAHAM,True
888,889,0,3,"JOHNSTON, MISS. CATHERINE HELEN ""CARRIE""",female,29.699118,1,2,W./C. 6607,23.4500,NaN,S,"(21.679, 39.688]",4,False,MISS,0.045771,Adult,JOHNSTON,False
889,890,1,1,"BEHR, MR. KARL HOWELL",male,26.000000,0,0,111369,30.0000,C148,C,"(21.679, 39.688]",1,False,MR,0.058556,Adult,BEHR,True
890,891,0,3,"DOOLEY, MR. PATRICK",male,32.000000,0,0,370376,7.7500,NaN,Q,"(-0.001, 7.854]",1,False,MR,0.015127,Adult,DOOLEY,True

Survival chance comparison: Alone vs Not alone.

In [ ]:
df.groupby("IsAlone")["Survived"].mean()

IsAlone
False    0.505650
True     0.303538
Name: Survived, dtype: float64

Find the fare per person by dividing Fare / FamilySize.

In [ ]:
df["FarePerPerson"] = df["Fare"]/df["FamilySize"]
df

,PassengerId,Survived,Pclass,Name,Gender,Age,SibSp,Parch,Ticket,Fare,...,Embarked,FareBucket,FamilySize,IsChild,Title,Fare_norm,Age_Groups,Last,IsAlone,FarePerPerson
0,1,0,3,"BRAUND, MR. OWEN HARRIS",male,22.000000,1,0,A/5 21171,7.2500,...,S,"(-0.001, 7.854]",2,False,MR,0.014151,Adult,BRAUND,False,3.62500
1,2,1,1,"CUMINGS, MRS. JOHN BRADLEY (FLORENCE BRIGGS TH...",female,38.000000,1,0,PC 17599,71.2833,...,C,"(39.688, 512.329]",2,False,MRS,0.139136,Adult,CUMINGS,False,35.64165
2,3,1,3,"HEIKKINEN, MISS. LAINA",female,26.000000,0,0,STON/O2. 3101282,7.9250,...,S,"(7.854, 10.5]",1,False,MISS,0.015469,Adult,HEIKKINEN,True,7.92500
3,4,1,1,"FUTRELLE, MRS. JACQUES HEATH (LILY MAY PEEL)",female,35.000000,1,0,113803,53.1000,...,S,"(39.688, 512.329]",2,False,MRS,0.103644,Adult,FUTRELLE,False,26.55000
4,5,0,3,"ALLEN, MR. WILLIAM HENRY",male,35.000000,0,0,373450,8.0500,...,S,"(7.854, 10.5]",1,False,MR,0.015713,Adult,ALLEN,True,8.05000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"MONTVILA, REV. JUOZAS",male,27.000000,0,0,211536,13.0000,...,S,"(10.5, 21.679]",1,False,REV,0.025374,Adult,MONTVILA,True,13.00000
887,888,1,1,"GRAHAM, MISS. MARGARET EDITH",female,19.000000,0,0,112053,30.0000,...,S,"(21.679, 39.688]",1,False,MISS,0.058556,Adult,GRAHAM,True,30.00000
888,889,0,3,"JOHNSTON, MISS. CATHERINE HELEN ""CARRIE""",female,29.699118,1,2,W./C. 6607,23.4500,...,S,"(21.679, 39.688]",4,False,MISS,0.045771,Adult,JOHNSTON,False,5.86250
889,890,1,1,"BEHR, MR. KARL HOWELL",male,26.000000,0,0,111369,30.0000,...,C,"(21.679, 39.688]",1,False,MR,0.058556,Adult,BEHR,True,30.00000
890,891,0,3,"DOOLEY, MR. PATRICK",male,32.000000,0,0,370376,7.7500,...,Q,"(-0.001, 7.854]",1,False,MR,0.015127,Adult,DOOLEY,True,7.75000

Get the passenger with the longest name.

In [ ]:
df.loc[df["Name"].str.len().idxmax(), "Name"]

'PENASCO Y CASTELLANA, MRS. VICTOR DE SATODE (MARIA JOSEFA PEREZ DE SOTO Y VALLEJO)'

Compute median age per Pclass and fill missing ages class-wise.

In [ ]:
df.groupby("Pclass")["Age"].median()

Pclass
1    35.000000
2    29.699118
3    29.699118
Name: Age, dtype: float64

Compare male vs female survival rate within each class.

In [ ]:
df.groupby(["Sex","Pclass"])["Survived"].mean()*100

KeyError: 'Sex'

Determine if fare distribution is right-skewed or left-skewed.

In [ ]:
temp = df["Fare"].skew()
print(temp)

4.787316519674893

# ðŸ”¥ LEVEL 4 â€” HARD (61â€“80)

Find the age gap between the oldest and youngest passenger per class.

In [ ]:
df.groupby("Pclass")["Age"].agg(["min","max",lambda x : x.max()-x.min()])

         min   max  <lambda_0>
Pclass
1       0.92  80.0       79.08
2       0.67  70.0       69.33
3       0.42  74.0       73.58

Create a pivot table showing survival by Sex and Pclass.

In [ ]:
df.pivot_table(values="Survived",index="Sex",columns="Pclass",aggfunc="mean")

KeyError: 'Sex'

Identify passengers traveling with siblings AND parents.

In [ ]:
df[(df["SibSp"]>0)&(df["Parch"]>0)]

,PassengerId,Survived,Pclass,Name,Gender,Age,SibSp,Parch,Ticket,Fare,...,Embarked,FareBucket,FamilySize,IsChild,Title,Fare_norm,Age_Groups,Last,IsAlone,FarePerPerson
7,8,0,3,"PALSSON, MASTER. GOSTA LEONARD",male,2.000000,3,1,349909,21.0750,...,S,"(10.5, 21.679]",5,True,MASTER,0.041136,Child,PALSSON,False,4.215000
10,11,1,3,"SANDSTROM, MISS. MARGUERITE RUT",female,4.000000,1,1,PP 9549,16.7000,...,S,"(10.5, 21.679]",3,True,MISS,0.032596,Child,SANDSTROM,False,5.566667
13,14,0,3,"ANDERSSON, MR. ANDERS JOHAN",male,39.000000,1,5,347082,31.2750,...,S,"(21.679, 39.688]",7,False,MR,0.061045,Adult,ANDERSSON,False,4.467857
16,17,0,3,"RICE, MASTER. EUGENE",male,2.000000,4,1,382652,29.1250,...,Q,"(21.679, 39.688]",6,True,MASTER,0.056848,Child,RICE,False,4.854167
24,25,0,3,"PALSSON, MISS. TORBORG DANIRA",female,8.000000,3,1,349909,21.0750,...,S,"(10.5, 21.679]",5,True,MISS,0.041136,Child,PALSSON,False,4.215000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
856,857,1,1,"WICK, MRS. GEORGE DENNICK (MARY HITCHCOCK)",female,45.000000,1,1,36928,164.8667,...,S,"(39.688, 512.329]",3,False,MRS,0.321798,Adult,WICK,False,54.955567
863,864,0,3,"SAGE, MISS. DOROTHY EDITH ""DOLLY""",female,29.699118,8,2,CA. 2343,69.5500,...,S,"(39.688, 512.329]",11,False,MISS,0.135753,Adult,SAGE,False,6.322727
869,870,1,3,"JOHNSON, MASTER. HAROLD THEODOR",male,4.000000,1,1,347742,11.1333,...,S,"(10.5, 21.679]",3,True,MASTER,0.021731,Child,JOHNSON,False,3.711100
871,872,1,1,"BECKWITH, MRS. RICHARD LEONARD (SALLIE MONYPENY)",female,47.000000,1,1,11751,52.5542,...,S,"(39.688, 512.329]",3,False,MRS,0.102579,Adult,BECKWITH,False,17.518067
888,889,0,3,"JOHNSTON, MISS. CATHERINE HELEN ""CARRIE""",female,29.699118,1,2,W./C. 6607,23.4500,...,S,"(21.679, 39.688]",4,False,MISS,0.045771,Adult,JOHNSTON,False,5.862500

Which Embarked port had the highest survival percentage?

In [ ]:
df.groupby("Embarked")["Survived"].mean()*100

Embarked
C    55.357143
Q    38.961039
S    33.695652
Name: Survived, dtype: float64

Create a new column â€œFareBucketâ€ using qcut into 5 bins.

In [ ]:
df["FareBucket"] = pd.qcut(df["Fare"], q=5)
df

,PassengerId,Survived,Pclass,Name,Gender,Age,SibSp,Parch,Ticket,Fare,...,Embarked,FareBucket,FamilySize,IsChild,Title,Fare_norm,Age_Groups,Last,IsAlone,FarePerPerson
0,1,0,3,"BRAUND, MR. OWEN HARRIS",male,22.000000,1,0,A/5 21171,7.2500,...,S,"(-0.001, 7.854]",2,False,MR,0.014151,Adult,BRAUND,False,3.62500
1,2,1,1,"CUMINGS, MRS. JOHN BRADLEY (FLORENCE BRIGGS TH...",female,38.000000,1,0,PC 17599,71.2833,...,C,"(39.688, 512.329]",2,False,MRS,0.139136,Adult,CUMINGS,False,35.64165
2,3,1,3,"HEIKKINEN, MISS. LAINA",female,26.000000,0,0,STON/O2. 3101282,7.9250,...,S,"(7.854, 10.5]",1,False,MISS,0.015469,Adult,HEIKKINEN,True,7.92500
3,4,1,1,"FUTRELLE, MRS. JACQUES HEATH (LILY MAY PEEL)",female,35.000000,1,0,113803,53.1000,...,S,"(39.688, 512.329]",2,False,MRS,0.103644,Adult,FUTRELLE,False,26.55000
4,5,0,3,"ALLEN, MR. WILLIAM HENRY",male,35.000000,0,0,373450,8.0500,...,S,"(7.854, 10.5]",1,False,MR,0.015713,Adult,ALLEN,True,8.05000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"MONTVILA, REV. JUOZAS",male,27.000000,0,0,211536,13.0000,...,S,"(10.5, 21.679]",1,False,REV,0.025374,Adult,MONTVILA,True,13.00000
887,888,1,1,"GRAHAM, MISS. MARGARET EDITH",female,19.000000,0,0,112053,30.0000,...,S,"(21.679, 39.688]",1,False,MISS,0.058556,Adult,GRAHAM,True,30.00000
888,889,0,3,"JOHNSTON, MISS. CATHERINE HELEN ""CARRIE""",female,29.699118,1,2,W./C. 6607,23.4500,...,S,"(21.679, 39.688]",4,False,MISS,0.045771,Adult,JOHNSTON,False,5.86250
889,890,1,1,"BEHR, MR. KARL HOWELL",male,26.000000,0,0,111369,30.0000,...,C,"(21.679, 39.688]",1,False,MR,0.058556,Adult,BEHR,True,30.00000
890,891,0,3,"DOOLEY, MR. PATRICK",male,32.000000,0,0,370376,7.7500,...,Q,"(-0.001, 7.854]",1,False,MR,0.015127,Adult,DOOLEY,True,7.75000

Compare survival rate across FareBuckets.

In [ ]:
df.groupby("FareBucket")["Survived"].mean()

/tmp/ipython-input-3488122341.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  df.groupby("FareBucket")["Survived"].mean()

FareBucket
(-0.001, 7.854]      0.217877
(7.854, 10.5]        0.201087
(10.5, 21.679]       0.424419
(21.679, 39.688]     0.444444
(39.688, 512.329]    0.642045
Name: Survived, dtype: float64

In [ ]:
df.groupby("Pclass")["Fare"].var()

Pclass
1    6143.482816
2     180.026589
3     138.724622
Name: Fare, dtype: float64

Use apply to format Name into uppercase.

In [ ]:
df["Name"] = df["Name"].apply(lambda x: x.upper())
df

,PassengerId,Survived,Pclass,Name,Gender,Age,SibSp,Parch,Ticket,Fare,...,Embarked,FareBucket,FamilySize,IsChild,Title,Fare_norm,Age_Groups,Last,IsAlone,FarePerPerson
0,1,0,3,"BRAUND, MR. OWEN HARRIS",male,22.000000,1,0,A/5 21171,7.2500,...,S,"(-0.001, 7.854]",2,False,MR,0.014151,Adult,BRAUND,False,3.62500
1,2,1,1,"CUMINGS, MRS. JOHN BRADLEY (FLORENCE BRIGGS TH...",female,38.000000,1,0,PC 17599,71.2833,...,C,"(39.688, 512.329]",2,False,MRS,0.139136,Adult,CUMINGS,False,35.64165
2,3,1,3,"HEIKKINEN, MISS. LAINA",female,26.000000,0,0,STON/O2. 3101282,7.9250,...,S,"(7.854, 10.5]",1,False,MISS,0.015469,Adult,HEIKKINEN,True,7.92500
3,4,1,1,"FUTRELLE, MRS. JACQUES HEATH (LILY MAY PEEL)",female,35.000000,1,0,113803,53.1000,...,S,"(39.688, 512.329]",2,False,MRS,0.103644,Adult,FUTRELLE,False,26.55000
4,5,0,3,"ALLEN, MR. WILLIAM HENRY",male,35.000000,0,0,373450,8.0500,...,S,"(7.854, 10.5]",1,False,MR,0.015713,Adult,ALLEN,True,8.05000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"MONTVILA, REV. JUOZAS",male,27.000000,0,0,211536,13.0000,...,S,"(10.5, 21.679]",1,False,REV,0.025374,Adult,MONTVILA,True,13.00000
887,888,1,1,"GRAHAM, MISS. MARGARET EDITH",female,19.000000,0,0,112053,30.0000,...,S,"(21.679, 39.688]",1,False,MISS,0.058556,Adult,GRAHAM,True,30.00000
888,889,0,3,"JOHNSTON, MISS. CATHERINE HELEN ""CARRIE""",female,29.699118,1,2,W./C. 6607,23.4500,...,S,"(21.679, 39.688]",4,False,MISS,0.045771,Adult,JOHNSTON,False,5.86250
889,890,1,1,"BEHR, MR. KARL HOWELL",male,26.000000,0,0,111369,30.0000,...,C,"(21.679, 39.688]",1,False,MR,0.058556,Adult,BEHR,True,30.00000
890,891,0,3,"DOOLEY, MR. PATRICK",male,32.000000,0,0,370376,7.7500,...,Q,"(-0.001, 7.854]",1,False,MR,0.015127,Adult,DOOLEY,True,7.75000

Group passengers by Cabin deck (first letter).

In [ ]:
df.groupby(df["Cabin"].str[0]).size()

Cabin
A    15
B    47
C    59
D    33
E    32
F    13
G     4
T     1
dtype: int64

Find average survivor age per cabin deck.

In [ ]:
df.groupby(df["Cabin"].str[0]).apply(lambda x: x[x["Survived"] == 1]["Age"].mean())

Cabin
A    43.571429
B    31.591403
C    33.697588
D    37.775929
E    32.704093
F    15.837390
G    14.000000
T          NaN
dtype: float64

Determine if high-fare passengers survived more often.

In [ ]:
temp = df[df["Fare"] >= df["Fare"].mean()]
intb  = temp["Survived"].mean()*100
print(intb)

59.71563981042654

Calculate survival rate per family size.

Identify which family size is most likely to survive.

In [ ]:
df.groupby("FamilySize")["Survived"].mean()

FamilySize
1     0.303538
2     0.552795
3     0.578431
4     0.724138
5     0.200000
6     0.136364
7     0.333333
8     0.000000
11    0.000000
Name: Survived, dtype: float64

In [ ]:
df.groupby("FamilySize")["Survived"].mean().idxmax()

np.int64(4)

In [ ]:
temp = df.sort_values("PassengerId")
temp["CumulativeSum"] = temp["Fare"].cumsum()
temp

,PassengerId,Survived,Pclass,Name,Gender,Age,SibSp,Parch,Ticket,Fare,...,FareBucket,FamilySize,IsChild,Title,Fare_norm,Age_Groups,Last,IsAlone,FarePerPerson,CumulativeSum
0,1,0,3,"BRAUND, MR. OWEN HARRIS",male,22.000000,1,0,A/5 21171,7.2500,...,"(-0.001, 7.854]",2,False,MR,0.014151,Adult,BRAUND,False,3.62500,7.2500
1,2,1,1,"CUMINGS, MRS. JOHN BRADLEY (FLORENCE BRIGGS TH...",female,38.000000,1,0,PC 17599,71.2833,...,"(39.688, 512.329]",2,False,MRS,0.139136,Adult,CUMINGS,False,35.64165,78.5333
2,3,1,3,"HEIKKINEN, MISS. LAINA",female,26.000000,0,0,STON/O2. 3101282,7.9250,...,"(7.854, 10.5]",1,False,MISS,0.015469,Adult,HEIKKINEN,True,7.92500,86.4583
3,4,1,1,"FUTRELLE, MRS. JACQUES HEATH (LILY MAY PEEL)",female,35.000000,1,0,113803,53.1000,...,"(39.688, 512.329]",2,False,MRS,0.103644,Adult,FUTRELLE,False,26.55000,139.5583
4,5,0,3,"ALLEN, MR. WILLIAM HENRY",male,35.000000,0,0,373450,8.0500,...,"(7.854, 10.5]",1,False,MR,0.015713,Adult,ALLEN,True,8.05000,147.6083
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"MONTVILA, REV. JUOZAS",male,27.000000,0,0,211536,13.0000,...,"(10.5, 21.679]",1,False,REV,0.025374,Adult,MONTVILA,True,13.00000,28602.7493
887,888,1,1,"GRAHAM, MISS. MARGARET EDITH",female,19.000000,0,0,112053,30.0000,...,"(21.679, 39.688]",1,False,MISS,0.058556,Adult,GRAHAM,True,30.00000,28632.7493
888,889,0,3,"JOHNSTON, MISS. CATHERINE HELEN ""CARRIE""",female,29.699118,1,2,W./C. 6607,23.4500,...,"(21.679, 39.688]",4,False,MISS,0.045771,Adult,JOHNSTON,False,5.86250,28656.1993
889,890,1,1,"BEHR, MR. KARL HOWELL",male,26.000000,0,0,111369,30.0000,...,"(21.679, 39.688]",1,False,MR,0.058556,Adult,BEHR,True,30.00000,28686.1993
890,891,0,3,"DOOLEY, MR. PATRICK",male,32.000000,0,0,370376,7.7500,...,"(-0.001, 7.854]",1,False,MR,0.015127,Adult,DOOLEY,True,7.75000,28693.9493

Compare survival rate of people with cabin vs without cabin.

In [ ]:
df["HasCabin"] = df["Cabin"].notna()
df.groupby("HasCabin")["Survived"].mean()

HasCabin
False    0.299854
True     0.666667
Name: Survived, dtype: float64