### Question 1
How do you load the Titanic CSV into a DataFrame?

### Question 2
How do you view the first 5 rows?

### Question 3
How do you view the last 10 rows?

### Question 4
How do you get the shape of the dataset?

### Question 5
How do you list all column names?

### Question 6
How many rows are present in the dataset?

### Question 7
How do you check the datatype of each column?

### Question 8
How many missing values does each column have?

### Question 9
How do you get summary statistics for numerical columns?

### Question 10
How do you display only the ‘Name’ column?

### Question 11
How do you select first 10 values in the ‘Age’ column?

### Question 12
How do you filter passengers older than 50?

### Question 13
How do you filter passengers who survived?

### Question 14
How do you select all rows where Sex == 'female'?

### Question 15
How many passengers embarked from 'S'?

### Question 16
How do you sort by Age (ascending)?

### Question 17
How do you sort by Fare (descending)?

### Question 18
How do you check how many unique Ticket values exist?

### Question 19
How do you drop the Cabin column?

### Question 20
How do you rename “Sex” to “Gender”?

### Question 21
Display rows where Age is between 20 and 40.

### Question 22
Filter passengers who paid more than 100 in Fare.

### Question 23
Count number of male vs female passengers.

### Question 24
What is the average fare by Pclass?

### Question 25
What is the average age of survivors vs non-survivors?

### Question 26
Find top 5 oldest passengers.

### Question 27
Find passengers with missing Age values.

### Question 28
Fill missing Age values with the mean age.

### Question 29
Replace missing Embarked values with the mode.

### Question 30
How many passengers have SibSp > 2?

### Question 31
Count passengers grouped by Embarked and Sex.

### Question 32
Find min, max, mean fare for each class.

### Question 33
Create a new column “FamilySize” = SibSp + Parch + 1.

### Question 34
Create a new column “IsChild” where Age < 18.

### Question 35
Count how many children survived.

### Question 36
Show survival rate per Pclass.

### Question 37
Show survival rate per Sex.

### Question 38
Which Ticket occurs most often?

### Question 39
Which Cabin letter appears the most?

### Question 40
How many passengers have Fare = 0?

### Question 41
Use groupby to compute average Age per Sex per Pclass.

### Question 42
Find the passenger who paid the highest fare.

### Question 43
Find rows where Name contains 'Mrs'.

### Question 44
Extract honorific title (Mr, Mrs, Miss, etc.) from Name.

### Question 45
Count survival rate for each title.

### Question 46
Find correlation between Age, Fare, Pclass, Survived.

### Question 47
Normalize the Fare column (0–1 scale).

### Question 48
Bin Age into categories: Child/Adult/Senior.

### Question 49
For each Embarked port, find the top 3 highest fares.

### Question 50
Find the name of the youngest surviving female.

### Question 51
Count how many passengers have the same last name.

### Question 52
Identify duplicate Ticket numbers.

### Question 53
Find average family size per Pclass.

### Question 54
Create a column “IsAlone” (FamilySize == 1).

### Question 55
Survival chance comparison: Alone vs Not alone.

### Question 56
Find the fare per person by dividing Fare / FamilySize.

### Question 57
Get the passenger with the longest name.

### Question 58
Compute median age per Pclass and fill missing ages class-wise.

### Question 59
Compare male vs female survival rate within each class.

### Question 60
Determine if fare distribution is right-skewed or left-skewed.

### Question 61
Find the age gap between the oldest and youngest passenger per class.

### Question 62
Create a pivot table showing survival by Sex and Pclass.

### Question 63
Find all family groups (same last name) with size > 3.

### Question 64
Identify passengers traveling with siblings AND parents.

### Question 65
Which Embarked port had the highest survival percentage?

### Question 66
Create a new column “FareBucket” using qcut into 5 bins.

### Question 67
Compare survival rate across FareBuckets.

### Question 68
Find which class had the largest fare variance.

### Question 69
Use apply to format Name into uppercase.

### Question 70
Extract ticket prefix (letters before numbers).

### Question 71
Count passengers by ticket prefix.

### Question 72
Group passengers by Cabin deck (first letter).

### Question 73
Find average survivor age per cabin deck.

### Question 74
Determine if high-fare passengers survived more often.

### Question 75
Calculate survival rate per family size.

### Question 76
Identify which family size is most likely to survive.

### Question 77
Compute z-score for Fare and detect outliers.

### Question 78
Compute z-score for Age and detect outliers.

### Question 79
Create a cumulative sum of Fare sorted by PassengerId.

### Question 80
Compare survival rate of people with cabin vs without cabin.

### Question 81
Predict missing Cabin deck using Pclass and Fare.

### Question 82
Reconstruct families using last name + ticket grouping.

### Question 83
Detect multi-ticket travel groups (same Ticket, diff names).

### Question 84
Compute survival rate for multi-ticket groups.

### Question 85
Find if groups with higher fare-per-person survived more.

### Question 86
Compute conditional survival probability: P(Survived | Sex, Pclass, FareBucket).

### Question 87
Identify outlier groups where all adults died but children survived.

### Question 88
Build a custom function to classify passengers as Rich/Middle/Poor.

### Question 89
For each FareBucket, find top 3 most common surnames.

### Question 90
Cluster passengers by Age, Fare, Pclass using pandas only.

### Question 91
Fill missing Age using median age per title.

### Question 92
Create a feature-rich dataset (Title, Deck, FamilySize, FarePerPerson).

### Question 93
Compute survival odds ratio for Male vs Female.

### Question 94
Compute survival odds ratio for 1st class vs 3rd class.

### Question 95
Create a multi-index DataFrame indexed by [Sex, Pclass, Embarked].

### Question 96
Unstack this multi-index to form a survival matrix.

### Question 97
Find survival probability for female, Age < 18, Pclass = 1, Fare > 50.

### Question 98
Compute Gini impurity for survival split by Sex.

### Question 99
Compute entropy of survival distribution.

### Question 100
Build a rule-based survival predictor and compare accuracy.